<nav>
  <a href="{% url 'clientes:menu' %}" title="Clientes"><i class="hgi-stroke hgi-user-01"></i></a>
  <a href="{% url 'repartidores:menu' %}" title="Repartidores"><i class="hgi-stroke hgi-bicycle-01"></i></a>
  <a href="{% url 'envios:listado' %}" title="Envíos"><i class="hgi-stroke hgi-delivery-box-01"></i></a>
  <a href="{% url 'pagos:listado' %}" title="Pagos"><i class="hgi-stroke hgi-credit-card-01"></i></a>
  <a href="{% url 'notificaciones:listado' %}" title="Notificaciones"><i class="hgi-stroke hgi-notification-01"></i></a>
</nav>
